
<% if user_signed_in? %>

  <br/>
  <br/>
  <h2 class="text-center" style="color: white">List of Comments</h2>
  <br/>
  <% if @comments.empty? %>
    <h1 class="hero-text">You have not commented to any courses =)</h1>
  <% else %>
    <table class="table table-striped table-dark">
      <thead> 
        <tr>
          <th scope="col">Comments</th>
          <th scope="col">Courses</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <th scope="row"><%= comment.message %></th>
            <th><%= comment.course.name %></th>
          </tr>
        <% end %>

      </tbody>
    </table>
  <% end %>
<% end %>
