
<% if user_signed_in? %>

  <br/>
  <br/>
  <table class="table table-striped table-dark">
    <thead> 
      <tr>
        <th scope="col">Comments</th>
        <th scope="col">Courses</th>
      </tr>
    </thead>
    <tbody>

      <% @comments.each do |comment| %>
        <tr>
          <th scope="row"><%= comment.message %></th>
          <th><%= comment.course.name %></th>
        </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
