# master_key_generated
# it will be a 32-alphanumeric key
# please store this somewhere safe and don't push to repository
# ensure that you have config/master.key in your .gitignore file

# to generate master.key file and credentials.yml.enc
# In your terminal, rails credentials:edit

# It will open and decode the credentials.yml.enc file

# aws: 
#     access_key_id: Your_AWS_access_key_here
#     secret_key_id: Your_AWS_secret_key_here
#     bucket: Your_AWS_bucket_here

# Ctrl + C and Y, then Enter to save.

# After saving, credentials.yml.enc will be encoded

# If receiving error: rescue in _decrypt': ActiveSupport::MessageEncryptor::InvalidMessage (ActiveSupport::MessageEncryptor::InvalidMessage)
# delete master.key file and credentials.yml.enc and run rails credentials:edit again
