//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
// vendor/assets/stylesheets directory can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// files in this directory. Styles in this file should be added after the last require_* statement.
// It is generally better to create a new file per style scope.
//
// 
//= require_directory .
//= require_self
//

@import "bootstrap";

body {
  background-image: url("bg.png");
  font-family: "Lato", sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.navbar {
  background: image_url('notebook.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: blueviolet;
  font-family: "Gill Sans Extrabold", monospace;
  font-size: 30px;
}

.carousel {
  border-radius: 55px 55px 55px 55px;
  overflow: hidden;
}

.hero-image {
  background-image: url("new_course.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text2 {
  margin-left: 600px;
  margin-top: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


a:link {
  text-decoration: none;
}

.profile-image {
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.clear {
  clear: both;
}

.nav-pills {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 68px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.table {
  background: #333333;
  margin-left: 10px;
}

.badge {
  text-align: right;
}

.long-text {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  text-align: center;
}

.card-title {
  line-height: 20px;
}

.card > a {
  text-decoration: none;
  color: black;
}
